#countdownTimer {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
    --circle-size: 400px;
    --circle-stroke-width:10px;
}

.base-timer {
    position: relative;
    width: var(--circle-size);
    height: var(--circle-size);
}

.overlay {
    z-index: 9;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: var(--circle-stroke-width);
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: var(--circle-stroke-width);
    stroke-linecap: square;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all; /*HERE IT IS*/
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.invalidFormat {
    color: magenta;
}

.base-timer__label {
    position: absolute; /*back on parent origin*/
    width: var(--circle-size);
    height: var(--circle-size);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.elapsed {
    position: absolute; /*back on parent origin*/
    width: var(--circle-size);
    height: var(--circle-size);
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}


.timer_buttons {
    position:relative; 
    padding: 20px;
}

.timer_buttons button {
    --button-size: 100px;
    margin: 20px;
    height:var(--button-size);
    width:var(--button-size);
    border-radius: 50%;
    border:none;
}